@import '../compass-mixins/lib/compass';
@import '../mathsass/math';

// COLORS
$white: #FFFFFF;
$black: #000000;

// FONTS
$font-family: 'DIN', Arial;

// BAR CHART TITLE
$title-size: 3em;

// BARS
$bar-height: 3;

// DATE
$date-size: 1.5;

// POPIN
$close-btn-size: 1.6;
$popin-padding: 2;

@import '../modules/all';