* {
  @include user-select(none);
  cursor: default;
}

*,
*::before,
*::after {
  @include box-sizing(border-box);
  color: #000;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

body {
  background: $sw1-darkgrey;
  color: $white;
  overflow: hidden;
  overflow-y: auto;

  &--popin-opened {
    overflow-y: hidden;
  }
}

#root {
  position: relative;
  height: 100%;
}

h1 {
  @extend .din-regular;
  font-size: $title-size;
  height: $title-size;
  line-height: 1.2;
  color: $sw1-cream;
  width: 100%;
  margin: 0;
  padding: 1em 1em 0;
  display: inline-block;
  position: relative;
  top: 0;
}

// Design Easier Application Styles

#design-easier-app-container {
  display:block;
  position:relative;

  .design-easier-app {
    display:block;
    position:relative;
    overflow: hidden;
    width:800px;
    height:600px;
    left:0;
    top:0;
    margin: 10px;

    #transform-box-layer {
      position:absolute;
      overflow: hidden;
      clip: rect(10px, 790px, 590px, 10px);
      width:800px;
      height:600px;
      left:0;
      top:0;
      z-index: 6;

      img, div, svg {
        display:block;
        position:absolute;
      }

      #text-box { background-color:#8C9; color:#000; width:100px; height:75px; padding:0.5em; overflow:hidden; }
      #svg-tool {width:100%; height:100%; }
    }

    svg.appElement {
      display:block;
      position:absolute;
      overflow:hidden;

      &.toolBar {z-index: 10;}
      &.grid {z-index: 1;}
      &.canvas {z-index: 3;}
      &.transformTool {z-index: 6;}
      &.yellowFrame {z-index: 5;}
    }
  }

  .transform-box-example {

  }
}

.edit-container {
  position:absolute;
  width:780px;
  height:50px;
  top: 560px;
  left: 30px;
  z-index: 7;
}