/* Coolors Exported Palette - coolors.co/2e294e-efbcd5-be97c6-8661c1-4b5267 */

/* RGB */
$sw2-darkblue-rgb:     rgba(46, 41, 78, 1);
$sw2-vlightpurple-rgb: rgba(239, 188, 213, 1);
$sw2-lightpurple-rgb:  rgba(190, 151, 198, 1);
$sw2-medpurple-rgb:    rgba(134, 97, 193, 1);
$sw2-medgrey-rgb:      rgba(75, 82, 103, 1);

/* HEX */
$sw2-darkblue :    #2e294e;
$sw2-vlightpurple: #efbcd5;
$sw2-lightpurple:  #be97c6;
$sw2-medpurple:    #8661c1;
$sw2-medgrey:      #4b5267;