/* Coolors Exported Palette - coolors.co/bbbba3-494f39-d2431f-7d4153-d09b9b */

/* RGB */
$sw1-cream-rgb:    rgba(187, 187, 163, 1);
$sw1-darkgrey-rgb: rgba(73, 79, 57, 1);
$sw1-red-rgb:      rgba(210, 67, 31, 1);
$sw1-purple-rgb:   rgba(125, 65, 83, 1);
$sw1-pink-rgb:     rgba(208, 155, 155, 1);

/* HEX */
$sw1-cream:    #bbbba3;
$sw1-darkgrey: #494f39;
$sw1-red:  #d2431f;
$sw1-purple:   #7d4153;
$sw1-pink:     #d09b9b;